*.hf/
*.arrow
Figures/
latex.csv
tmp_trainer/
*.prof
*.tar.gz
dataset/
distil-medium.en-ft*
wandb/
whisper-small-hi/
model_graph*
graph_with_styles*

Chime6_*.csv
dipco_*.csv
my_awesome_mind_model/
Downloads/
_sample_data/
__pycache__/
openai/
my_model/
waves_yesno/
notebooks/
.idea/
distil-whisper/
output_segments/
latex_table.txt
viz.html
ml_workflow*
taskplan.planner/
whisper.sh
reach-vb/
whisper-large-ft*
